# Dependencies
node_modules

# Next.js
.next
out
next-env.d.ts
*.tsbuildinfo

# Environment variables
.env
.env.local
.env*.local

# Firebase / service accounts
firebase-service-account.json
*-firebase-adminsdk-*.json
*.firebase-adminsdk*.